/* Estilos básicos para el contenedor de cartas */
.CardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las cartas horizontalmente */
  align-items: center;
  gap: 1rem; /* Espacio entre las cartas */
  margin-top: 2rem; /* Espacio superior para separar del fondo animado */
  height: 70vh;
}

/* Responsividad para dispositivos móviles */
@media (max-width: 767px) {
  .CardContainer {
    height: auto; /* Permite que el contenedor ajuste su altura en móviles */
    margin-top: 1rem; /* Reduce el margen superior en móviles */
    gap: 0.5rem; /* Reduce el espacio entre cartas en móviles */
    justify-content: space-around; /* Distribuye las cartas a lo largo del contenedor */
  }

  /* Ajuste de tamaño de las cartas en móviles */
  .CartaJuego {
    width: 15%; /* Las cartas ocupan un 30% del ancho del contenedor */
    max-width: 150px; /* Ancho máximo para las cartas en móviles */
    margin: 0.5rem; /* Reduce el margen alrededor de las cartas */
  }
}
